/* COMMON */
:root {
  --primary-color: #292b2c;
  --secondary-color: #eaf1fb;
  --heading-font: "Noto Sans", sans-serif;
  --rounded: 10px;
  --body-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--body-font);
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 500;
}

b { font-weight: bold;}

header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 50px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}

header nav a {
  color: var(--secondary-color);
}

header nav a:hover {
  text-decoration: underline;
}

.content, .content.home {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px 0;
}

#history,
#adventure,
#employees,
#descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
}

#history h2,
#adventure h2,
#employees h2 {
  margin:  20px 0px;
}

#adventure div,
#employees div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 0px 20px;
}

#adventure #adventure_home {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 0 20px;
justify-content: center;
align-items: center;
}

figure figcaption {
  padding: 10px 0px;
}

textarea {
  resize: vertical;
  padding: 10px;
  border-radius: var(--rounded);
}

button,
.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: var(--rounded);
  cursor: pointer;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  margin: 20px 0px;
}

footer nav a {
  padding: 0px 5px;
}

footer nav a * {
  height: 25px;
  width: 25px;
}

/* END */

/* HOME */
#visitors {
  text-align: center;
  margin: 2rem 0;
}

#visitors a {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 15px;
  padding: 10px;
  border-radius: var(--rounded);
}

.content.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 5rem;
}

.content.home #history {
  background-color: var(--primary-color);
  padding: 10px;
}

.content.home #history * {
    color: var(--secondary-color);
}

/* ABOUT */
.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/hero.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 0px;
}

.hero #title {
  width: 800px;
  text-align: center;
}

.hero #title h1 {
  color: var(--secondary-color);
  font-size: 60px;
}

.hero #title h3 {
  color: var(--secondary-color);
  font-weight: 200;
  margin-top: 20px;
}

#title h2 {
  margin-top: 70px;
}

.hero article {
  width: 550px;
  padding: 10px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.hero article img {
  height: 100px;
  width: 100px;
  border-radius: var(--rounded);
  order: 2;
}

.hero article * {
  color: var(--secondary-color);
  text-align: justify;
  font-size: 14px;
}

#newsletter {
  margin-top: 50px;
}

#history div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0px 40px;
}

/* TRIPS */
#descriptions div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#descriptions div .trip-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  text-align: center;
}

th {
  background-color: var(--primary-color);
  color: var(--secondary-color)
}

tbody tr:nth-child(even) {
  background-color:var(--secondary-color);
}

/* CONTACT */
.information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

form {
  width: 400px;
  margin: auto;
}

form fieldset legend {
  font-weight: 500;
  margin: 10px 0px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
  margin: 10px 0px;
}

.form-item input {
  padding: 10px;
  border-radius: var(--rounded);
}

.form-item.subscription {
  flex-direction: row;
  gap: 0px 10px;
}

form fieldset button {
  width: 100%;
}
